<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payline>
            <general>
                <merchant_id>MERCHANT_ID</merchant_id>
                <environment>HOMO</environment>
            </general>
        </payline>
        <payment>
            <payline_web_payment_cpt>
                <active>0</active>
                <model>Monext\Payline\Model\Method\WebPayment\Cpt</model>
            </payline_web_payment_cpt>
            <payline_common>
                <default>
                    <deliverytime>2</deliverytime>
                    <deliverymode>4</deliverymode>
                    <delivery_expected_delay>3</delivery_expected_delay>
                    <prefix>4</prefix>
                </default>
                <model>Monext\Payline\Model\Method\WebPayment\Cpt</model>
            </payline_common>
        </payment>
    </default>
</config>
