<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Monext\Payline\Api\PaymentManagementInterface" type="Monext\Payline\Model\PaymentManagement" />
    <preference for="Monext\Payline\Api\GuestPaymentManagementInterface" type="Monext\Payline\Model\GuestPaymentManagement" />
    <type name="Monext\Payline\PaylineApi\Client">
        <arguments>
            <argument name="logger" xsi:type="object">paylineLogger</argument>
        </arguments>
    </type>
    <type name="Monext\Payline\Model\PaymentManagement">
        <arguments>
            <argument name="paylineLogger" xsi:type="object">paylineLogger</argument>
        </arguments>
    </type>
    <type name="Monext\Payline\Plugin\Model\ResourceModel\Order\Handler\StatePlugin">
        <arguments>
            <argument name="paylineLogger" xsi:type="object">paylineLogger</argument>
        </arguments>
    </type>
    <!-- Les Factory pourrais être refacto avec un virtualType à tester les impacts sur l'assignation du payment -->
    <type name="Monext\Payline\PaylineApi\Request\DoWebPaymentTypeFactory">
        <arguments>
            <argument name="availableDoWebPaymentTypeClass" xsi:type="array">
                <item name="payline_web_payment_cpt" xsi:type="object">Monext\Payline\PaylineApi\Request\DoWebPaymentType\Cpt</item>
                <item name="payline_web_payment_nx" xsi:type="object">Monext\Payline\PaylineApi\Request\DoWebPaymentType\Nx</item>
            </argument>
        </arguments>
    </type>
    <type name="Monext\Payline\Model\PaymentTypeManagementFactory">
        <arguments>
            <argument name="availablePaymentTypeManagementClass" xsi:type="array">
                <item name="payline_web_payment_cpt" xsi:type="object">Monext\Payline\Model\PaymentTypeManagement\Cpt</item>
                <item name="payline_web_payment_nx" xsi:type="object">Monext\Payline\Model\PaymentTypeManagement\Nx</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="paylineLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">payline</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="debug" xsi:type="object">Monext\Payline\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Model\Order\Payment\State\AuthorizeCommand">
        <plugin name="set_payline_status_after_authorize" type="Monext\Payline\Plugin\Model\Order\Payment\State\AuthorizeCommandPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\Payment\State\CaptureCommand">
        <plugin name="set_payline_status_after_capture" type="Monext\Payline\Plugin\Model\Order\Payment\State\CaptureCommandPlugin"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="handle_save_wallet" type="Monext\Payline\Plugin\Model\OrderRepositoryPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="handle_save_wallet" type="Monext\Payline\Plugin\Model\OrderPlugin"/>
    </type>
    <type name="Magento\Quote\Observer\SubmitObserver">
        <plugin name="monextPaylinePreventAutoSendOrderEmailPlugin" type="Monext\Payline\Plugin\Observer\Quote\PreventAutoSendOrderEmailPlugin"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Handler\State">
        <plugin name="set_payline_status_cycle_paiement_after_complete_order" type="Monext\Payline\Plugin\Model\ResourceModel\Order\Handler\StatePlugin"/>
    </type>
</config>
