<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Monext\Payline\Api\PaymentManagementInterface" type="Monext\Payline\Model\PaymentManagement" />
    <preference for="Monext\Payline\Api\GuestPaymentManagementInterface" type="Monext\Payline\Model\GuestPaymentManagement" />
    <type name="Monext\Payline\PaylineApi\Client">
        <arguments>
            <argument name="logger" xsi:type="object">paylineLogger</argument>
        </arguments>
    </type>
    <virtualType name="paylineLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">payline</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="debug" xsi:type="object">Monext\Payline\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Model\Order\Payment\State\AuthorizeCommand">
        <plugin name="set_payline_status_after_authorize"
                type="Monext\Payline\Plugin\Model\Order\Payment\State\AuthorizeCommandPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\Payment\State\CaptureCommand">
        <plugin name="set_payline_status_after_capture"
                type="Monext\Payline\Plugin\Model\Order\Payment\State\CaptureCommandPlugin"/>
    </type>
</config>
