<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payline_web_payment_general_config_provider" xsi:type="object">Monext\Payline\Model\Method\WebPayment\GeneralConfigProvider</item>
                <item name="payline_web_payment_cpt_config_provider" xsi:type="object">Monext\Payline\Model\Method\WebPayment\CptConfigProvider</item>
                <item name="payline_web_payment_nx_config_provider" xsi:type="object">Monext\Payline\Model\Method\WebPayment\NxConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Monext\Payline\Controller\Action">
        <arguments>
            <argument name="loggerPayline" xsi:type="object">paylineLogger</argument>
        </arguments>
    </type>
</config>
