<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="payline" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payline</label>
                <attribute type="expanded">0</attribute>
                <frontend_model>Monext\Payline\Block\Adminhtml\System\Config\Form\Fieldset</frontend_model>
                <comment><![CDATA[Access your <a href="%1">Monext Administrative Center</a> in order to manage your Payline account, check follow transactions or check technical issues.]]></comment>
                <help_url>https://homologation-admin.payline.com/userManager.do?reqCode=prepareLogin</help_url>
                <group id="payline_common" translate="label" showInDefault="1" sortOrder="10">
                    <label>Common settings</label>
                    <attribute type="expanded">1</attribute>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="merchant_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant ID</label>
                        <config_path>payline/general/merchant_id</config_path>
                    </field>
                    <field id="access_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Access key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payline/general/access_key</config_path>
                    </field>
                    <field id="environment" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>Monext\Payline\Model\System\Config\Source\Environment</source_model>
                        <config_path>payline/general/environment</config_path>
                    </field>
                    <field id="language" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Language</label>
                        <source_model>Monext\Payline\Model\System\Config\Source\Language</source_model>
                        <config_path>payline/general/language</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payline/general/debug</config_path>
                    </field>
                    <field id="proxy_enabled" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Proxy Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payline/general/proxy_enabled</config_path>
                    </field>
                    <field id="proxy_host" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Proxy Host</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payline/general/proxy_host</config_path>
                        <depends>
                            <field id="proxy_enabled">1</field>
                        </depends>
                    </field>
                    <field id="proxy_port" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Proxy Port</label>
                        <config_path>payline/general/proxy_port</config_path>
                        <depends>
                            <field id="proxy_enabled">1</field>
                        </depends>
                    </field>
                    <field id="proxy_login" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Proxy Login</label>
                        <config_path>payline/general/proxy_login</config_path>
                        <depends>
                            <field id="proxy_enabled">1</field>
                        </depends>
                    </field>
                    <field id="proxy_password" translate="label" type="obscure" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Proxy Password</label>
                        <config_path>payline/general/proxy_password</config_path>
                        <depends>
                            <field id="proxy_enabled">1</field>
                        </depends>
                    </field>
                </group>
                <group id="payline_contracts" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>Payline Contracts</label>
                    <attribute type="expanded">0</attribute>
                    <field id="contracts" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Contracts</label>
                        <frontend_model>Monext\Payline\Block\Adminhtml\System\Config\Form\Field\Contract</frontend_model>
                        <source_model>Monext\Payline\Model\System\Config\Source\Contract</source_model>
                        <config_path>payline/general/contracts</config_path>
                    </field>
                </group>
                <group id="payline_solutions" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30">
                    <label>Payment solutions</label>
                    <attribute type="expanded">0</attribute>
                    <group id="payline_cpt" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                        <label>Payline - Web Payment Cpt</label>
                        <comment><![CDATA[Select payments in your shopping cart. Payline will process your card payments through the Payline Gateway or the widget.]]></comment>
                        <attribute type="expanded">0</attribute>
                        <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payline_web_payment_cpt/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/payline_web_payment_cpt/title</config_path>
                        </field>
                        <field id="integration_type" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Type of Integration</label>
                            <source_model>Monext\Payline\Model\System\Config\Source\IntegrationType</source_model>
                            <config_path>payment/payline_web_payment_cpt/integration_type</config_path>
                        </field>
                        <field id="widget_display" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>payline_widget_display</label>
                            <source_model>Monext\Payline\Model\System\Config\Source\WidgetDisplay</source_model>
                            <config_path>payment/payline_web_payment_cpt/widget_display</config_path>
                            <depends>
                                <field id="integration_type">widget</field>
                            </depends>
                        </field>
                        <field id="payment_action" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Action</label>
                            <source_model>Monext\Payline\Model\System\Config\Source\PaymentAction</source_model>
                            <config_path>payment/payline_web_payment_cpt/payment_action</config_path>
                        </field>
                        <field id="wallet_enabled" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable Wallet</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payline_web_payment_cpt/wallet_enabled</config_path>
                        </field>
                        <group id="payline_cpt_status" translate="label" showInDefault="1" showInWebsite="1" sortOrder="100">
                            <label>Payline order status</label>
                            <attribute type="expanded">0</attribute>
                            <field id="payline_status_captured" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Default status captured</label>
                                <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                                <config_path>payment/payline_web_payment_cpt/order_status_payline_captured</config_path>
                            </field>
                            <field id="payline_status_waiting_capture" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Default status waiting capture</label>
                                <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                                <config_path>payment/payline_web_payment_cpt/order_status_payline_waiting_capture</config_path>
                            </field>
                            <field id="payline_status_waiting_acceptance" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Default status waiting acceptance</label>
                                <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                                <config_path>payment/payline_web_payment_cpt/order_status_payline_waiting_acceptance</config_path>
                            </field>
                            <field id="payline_status_pending" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Default status pending</label>
                                <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                                <config_path>payment/payline_web_payment_cpt/order_status_payline_pending</config_path>
                            </field>
                            <field id="payline_status_cancel" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Default status cancel</label>
                                <source_model>Monext\Payline\Model\System\Config\Source\Order\StatusCanceled</source_model>
                                <config_path>payment/payline_web_payment_cpt/order_status_payline_canceled</config_path>
                            </field>
                            <field id="payline_status_refused" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Default status refused</label>
                                <source_model>Monext\Payline\Model\System\Config\Source\Order\StatusCanceled</source_model>
                                <config_path>payment/payline_web_payment_cpt/order_status_payline_refused</config_path>
                            </field>
                            <field id="payline_status_fraud" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Default status fraud</label>
                                <source_model>Monext\Payline\Model\System\Config\Source\Order\StatusCanceled</source_model>
                                <config_path>payment/payline_web_payment_cpt/order_status_payline_fraud</config_path>
                            </field>
                            <field id="payline_status_abandoned" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                                <label>Default status abandoned</label>
                                <source_model>Monext\Payline\Model\System\Config\Source\Order\StatusCanceled</source_model>
                                <config_path>payment/payline_web_payment_cpt/order_status_payline_abandoned</config_path>
                            </field>
                        </group>
                    </group>
                </group>
                <group id="contracts_specific_settings" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                    <label>Contracts specific settings</label>
                    <comment>Please fill in the fields in the "Delivery configuration" and "Prefix configuration" section first and foremost. If you they are not filled in, the Default values will be used.</comment>
                    <attribute type="expanded">0</attribute>
                    <field id="address" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Delivery configuration</label>
                        <frontend_model>Monext\Payline\Block\Adminhtml\System\Config\Form\Field\Delivery</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <config_path>payline/payline_common/address</config_path>
                    </field>
                    <field id="prefix" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Prefix configuration</label>
                        <frontend_model>Monext\Payline\Block\Adminhtml\System\Config\Form\Field\Prefix</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <config_path>payline/payline_common/prefix</config_path>
                    </field>

                    <group id="default_values" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                        <label>Default values</label>
                        <attribute type="expanded">0</attribute>
                        <field id="default_address_deliverytime" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Delivery time</label>
                            <source_model>Monext\Payline\Model\System\Config\Source\Delivery\Time</source_model>
                            <config_path>payment/payline_common_default/deliverytime</config_path>
                        </field>
                        <field id="default_address_deliverymode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Delivery mode</label>
                            <source_model>Monext\Payline\Model\System\Config\Source\Delivery\Mode</source_model>
                            <config_path>payment/payline_common_default/deliverymode</config_path>
                        </field>
                        <field id="default_address_delivery_expected_delay" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Delivery expected delay</label>
                            <config_path>payment/payline_common_default/delivery_expected_delay</config_path>
                        </field>
                        <field id="default_address_prefix" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Prefix</label>
                            <source_model>\Monext\Payline\Model\System\Config\Source\Customer\Title</source_model>
                            <config_path>payment/payline_common_default/prefix</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
