<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="payline" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payline</label>
                <attribute type="expanded">0</attribute>
                <frontend_model>Monext\Payline\Block\Adminhtml\System\Config\Form\Fieldset</frontend_model>
                <comment><![CDATA[Access your <a href="%1">Monext Administrative Center</a> in order to manage your Payline account, check follow transactions or check technical issues.]]></comment>
                <help_url>https://homologation-admin.payline.com/userManager.do?reqCode=prepareLogin</help_url>
                <group id="payline_common" translate="label" showInDefault="1" showInWebsite="1" sortOrder="10">
                    <label>Common settings</label>
                    <attribute type="expanded">1</attribute>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="merchant_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Merchant ID</label>
                        <config_path>payline/general/merchant_id</config_path>
                    </field>
                    <field id="access_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Access key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payline/general/access_key</config_path>
                    </field>
                    <field id="environment" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Environment</label>
                        <source_model>Monext\Payline\Model\System\Config\Source\Environment</source_model>
                        <config_path>payline/general/environment</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payline/general/debug</config_path>
                    </field>
                    <field id="proxy_enabled" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Proxy Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payline/general/proxy_enabled</config_path>
                    </field>
                    <field id="proxy_host" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Proxy Host</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payline/general/proxy_host</config_path>
                        <depends>
                            <field id="proxy_enabled">1</field>
                        </depends>
                    </field>
                    <field id="proxy_port" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Proxy Port</label>
                        <config_path>ppayline/general/proxy_port</config_path>
                        <depends>
                            <field id="proxy_enabled">1</field>
                        </depends>
                    </field>
                    <field id="proxy_login" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Proxy Login</label>
                        <config_path>payline/general/proxy_login</config_path>
                        <depends>
                            <field id="proxy_enabled">1</field>
                        </depends>
                    </field>
                    <field id="proxy_password" translate="label" type="obscure" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Proxy Password</label>
                        <config_path>payline/general/proxy_password</config_path>
                        <depends>
                            <field id="proxy_enabled">1</field>
                        </depends>
                    </field>
                </group>
                <group id="payline_contracts" translate="label" showInDefault="1" showInWebsite="1" sortOrder="20">
                    <label>Payline Contracts</label>
                    <attribute type="expanded">0</attribute>
                    <field id="contracts" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Contracts</label>
                        <frontend_model>Monext\Payline\Block\Adminhtml\System\Config\Form\Field\Contract</frontend_model>
                        <source_model>Monext\Payline\Model\System\Config\Source\Contract</source_model>
                        <config_path>payline/general/contracts</config_path>
                    </field>
                </group>
                <group id="payline_solutions" translate="label" showInDefault="1" showInWebsite="1" sortOrder="30">
                    <label>Payment solutions</label>
                    <attribute type="expanded">0</attribute>
                    <group id="payline_cpt" translate="label" showInDefault="1" showInWebsite="1" sortOrder="10">
                        <label>Payline - Web Payment Cpt</label>
                        <comment><![CDATA[Select payments in your shopping cart. Payline will process your card payments through the Payline Gateway or the widget.]]></comment>
                        <attribute type="expanded">0</attribute>
                        <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payline_web_payment_cpt/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/payline_web_payment_cpt/title</config_path>
                        </field>
                        <field id="integration_type" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Type of Integration</label>
                            <source_model>Monext\Payline\Model\System\Config\Source\IntegrationType</source_model>
                            <config_path>payment/payline_web_payment_cpt/integration_type</config_path>
                        </field>
                        <field id="widget_display" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>payline_widget_display</label>
                            <source_model>Monext\Payline\Model\System\Config\Source\WidgetDisplay</source_model>
                            <config_path>payment/payline_web_payment_cpt/widget_display</config_path>
                            <depends>
                                <field id="integration_type">widget</field>
                            </depends>
                        </field>
                        <field id="payment_action" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Action</label>
                            <source_model>Monext\Payline\Model\System\Config\Source\PaymentAction</source_model>
                            <config_path>payment/payline_web_payment_cpt/payment_action</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
